

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Forge</title>
    </head>
    <body>
        <h1>Maintenance is currently being undergone</h1>
        <p>We'll be right back!</p>
       {{> footer}}
    </body>
</html>