<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Forge</title>
    </head>
    <body>
        {{> header}}
        <p>{{capitalizeString welcomeMessage}}</p>
       {{> footer}}
    </body>
</html>